 <!-- Use PHP_Documentor to generate API documentation -->
 <target name="phpdoc">
  <exec executable="phpdoc">
   <arg line="--directory ${source}
              --target    ${basedir}/build/api" />
  </exec>
 </target>
