<?xml version="1.0" encoding="UTF-8"?>
<!-- {generated} -->

<phpunit {bootstrap}backupGlobals="false"
         backupStaticAttributes="false"
         strict="true"
         verbose="true">
  <testsuites>
    <testsuite name="{project_name}">
      {test}
    </testsuite>
  </testsuites>

  <logging>
    <log type="coverage-html" target="build/coverage" title="{project_name}"
         charset="UTF-8" yui="true" highlight="true"
         lowUpperBound="35" highLowerBound="70"/>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
    <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
  </logging>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
      {source}
    </whitelist>
  </filter>
</phpunit>
